<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="sneedBay, piratebay indexer">
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script src="js/bootstrap.bundle.js"></script>
<title>SNEEDBAY</title>