<%- include('partials/header'); %>

<div class="text-center">
	<h1>SneedBay</h1>

	<p>Making Torrents Great Again</p>
	<img class="mw-100 w-50" src="static/images/cover.png" alt="app_cover">
</div>

<%- include('partials/footer'); %>
