<%- include('partials/header'); %>

<div class="text-center">
	<h1>SneedBay</h1>

	<p>Making Torrents Great Again</p>
	<p>SneedBay is a PirateBay indexing tool which facilitates the use of the website through it's api(apibay).</p>
	<p>In order to download and seed the torrents, I recommend either using <a href="https://www.qbittorrent.org/">qBitorrent</a> or <a href="https://transmissionbt.com/">transmission</a> softwares.</p>
	<p><strong>Remember</strong>: Don't be a city slicker and please seed your torrents, otherwise, Al Sneed will pay you a <a href="/visit">visit</a>.</p>

	<a href="static/pdf/ISaiF.pdf">
		<img class="mw-100 w-50 img-fluid rounded" src="static/images/cover.png" alt="app_cover">
	</a>
</div>

<%- include('partials/footer'); %>
