<%- include('partials/header'); %>

<div class="text-center mt-5">
	<img class="mw-100 w-50 img-fluid" src="static/images/sneedab.gif" alt="info_conver">
	<form class="p-4" action="search" method="POST">
		<input type="text" name="search" class="mw-100 w-50 form-control text-bg-dark border-0 shadow text-center m-auto search-bar" placeholder="Search for torrent">
	</form>
	<p class="text-muted fs-7">In order to download and seed the torrents, I recommend either using <a href="https://www.qbittorrent.org/">qBitorrent</a> or <a href="https://transmissionbt.com/">transmission</a> softwares</p>
</div>


<%- include('partials/footer'); %>
