<%- include('partials/header'); %>

<div class="text-center">
	<p class="green-text">>you didn't seed</p>
	<p class="green-text">>you don't have a positive ratio</p>
	<img src="static/images/dontleech.png" class="img-fluid">
</div>

<%- include('partials/footer'); %>
