/*!
 * Extra set of rules over Bootstrap
 */
.card:hover
{
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	transition: all .5s;
}

.green-text
{
	color: rgb(120, 153, 34);
}

.text-bg-dark-shade
{
	--bs-bg-opacity: 1;
	color: #fff !important;
	background-color: rgba(47, 49, 54, var(--bs-bg-opacity)) !important;
	;
}

.limit-text
{
	max-width: 30rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}